.intro_sec {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background-image: url(../images/intro_section/intro_sectio_background.jpg);

  .container {
    position: relative;
    height: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .shape {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px ;
    background-color: $greyColor;
    z-index: 10;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      inset-inline-end: 0;
      width: 25%;
      height: 100%;
      background-color: #fff;

    }
  }

  .video__ {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }

  .intro_figure__ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

  }

  .text_wrapper {
    margin-top: 156px;
    position: relative;
    z-index: 2;
    max-width: 710px;

    * {
      color: #fff;
    }
  }
  
  .title__{
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include sm {
      font-size: 5rem;
    }

    @include xs {
      font-size: 3.5rem;
    }
  }
  
  .sub_title__ {
    font-size: 5.3rem;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase ;

    @include sm {
      font-size: 3.5rem;
    }

    @include xs {
      font-size: 2.5rem;
    }
  }

  .desc__ {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 45px;

    @include sm {
      font-size: 1.8rem;
    }

    @include xs {
      font-size: 1.5rem;
    }
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primaryColor, 0.4);
  }
}

.about_us_section {
  background-color: $primaryColor;
  position: relative;
  // overflow: hidden;
  height: max-content !important;

  &::after {
    position: absolute;
    content: url('../images/shapes/about_us_background.svg');
    top: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);

    @include dir {
      transform: scaleX(-1) translateY(-50%);
    }
  }

  .about_us_content__ {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 130px;

    @include sm {
      flex-direction: column;
      gap: 30px;
    }
  }

  .img_wrapper__ {
    padding: 38px 18px 20px 52px;
    position: relative;
    min-width: 473px;

    @include sm {
      min-width: 100%;
      padding: 20px;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: #fff;
      height: 155px;
    }

    &::after {
      top: 0;
      inset-inline-start: 0;
      width: 276px;
      opacity: 0.26;
    }

    &::before {
      bottom: 0;
      inset-inline-end: 0;
      width: 199px;
    }
  }

  .figure__ {
    @include p-bottom(488 , 403);
    z-index: 2;
  }

  .about_us_text_wrapper {
    width: 100%;
    color: #fff;
  }

  .parag__ {
    color: #fff;
    line-height: 25px;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 35px;
  }

  &.page_section {
    height: calc(100vh - 156px);
  }
}

.why_us_section {
  background-image: url(../images/why_us/why_us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primaryColor, 0.51);
  }

  .parag__ {
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    max-width: 612px;
  }
}

.our_services_section {
  background-color: $primaryColor;
}

.field_of_work_sec__ {
  .parag__ {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 60px;
    color: $headingMainColor;
  }
}

.our_clients_sec__ {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 143px;
    border-radius: $mainBorderRadius;
    cursor: default;
    transition: 0.5s;

    &:hover {
      background-color: #fff;
      .figure__ {
        filter: unset;
      }
    }
  }

  .figure__ {
    filter: brightness(0)invert(1);
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .img-om {
    max-width: 130px;
    max-height: 105px;

    @include xxs {
      max-width: 100%;
      max-height: 80px;
    }
  }
}

.our_projects_sec__ {
  .our_projects_sec_block__ {
    &:not(:last-child) {
      margin-bottom: 100px;

      @include sm {
        margin-bottom: 50px;
      }

      @include xs {
        margin-bottom: 20px;
      }
    }
  }
}

.contact_us_section {
  .figure__ {
    @include p-bottom(447 , 558);
  }
  
  iframe {
    border-radius: $secondaryBorderRadius;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    min-height: 500px;
  }
}

.mission_and_vision_section {
  overflow: hidden;

  @include xs {
    background-color: #eee;
    padding: 25px 0;
  }
}