.projects_page__ {
  background-color: $sectionBgColor;
  position: relative;
  overflow: hidden;

  .figure__ {
    padding-bottom: 75%;
    border-radius: $secondaryBorderRadius;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(#000, 0.1) 0%,
        rgba(#000, 0.9) 100%
      );
      display: none;
      
    }
  }

  .main_title__ {
    color: $headingMainColor;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    inset-inline-end: -250px;
    width: 450px;
    height: 450px;
    border-radius: 50px;
    background-color: rgba($primaryColor , 0.4);
    transform: translateY(-50%) rotate(45deg);
    z-index: -1;
    animation: rotating 15s infinite linear;

    @include sm {
      width: 300px;
      height: 300px;
    }
  }
}