.footer_sec__ {
  background-color: $primaryColor;
  overflow: hidden;
  padding: 95px 0 65px;
}

.footer_logo__ {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    max-width: 201px;
    max-height: 195px;

  }
}

.footer_head__ {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    inset-inline-start: 0;
    display: block;
    width: 50px;
    height: 8px;
    background-color: rgba(#fff, 0.23);
  }

  &.center {
    text-align: center;
  }

  &.without_after::after {
    display: none;
  }
  
}

.footer_desc__ {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
  line-height: 23px;
  
  &.fixed_width {
    max-width: 210px;
    margin: 0 auto;
  }

  &.center {
    text-align: center;
    margin: 0 auto;
  }

  &.margin_top {
    margin-top: 30px;
  }

  &.with_shape {
    padding-top: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 130%;
      height: 3px;
      background-color: #fff;
      opacity: 0.16;
    }
  }

}

.footer_socials__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
  gap: 10px;
  max-width: 270px;
  margin: 0 auto;

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 15px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition: 0.5s;
    background-color: #fff;
    border: 1px solid rgba(#fff, 0.34);
    border-radius: 50%;
    padding: 8px;

    img {
      filter: none;
    }

    &:hover {
      background-color: #1d2020;

      img {
        filter: brightness(0) invert(1) !important;
      }
    }
  }
}

