// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  transition: 0.5s;
  overflow: hidden;

  &.swiper-button-disabled {
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 1;

    &::after {
      color: #fff;
    }

  }

  &::after {
    content: '\f053' !important;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: $primaryColor;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    position: static;
    transform: unset;

    @include dir {
      transform: rotateY(-180deg);
    }
  }

  &:hover {
    background-color: #fff;

    &::after {
      color: $primaryColor;
    }
  }

  &.single_page_button {
    position: static;
    border: 1px solid $borderColor;

    &::after {
      content: url("../images/shapes/arrow-right.svg");
      filter: brightness(0.8) grayscale(1);
    }

    &:hover {
      background-color: $primaryColor;
      border-color: $primaryColor;

      &::after {
        filter: unset;
      }
    }
  }
}

.swiper-button-next {
  &::after {
    transform: rotateY(-180deg);

    @include dir {
      transform: rotateY(0);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  gap: 6px;
  margin: 1rem auto !important;
  margin-top: 35px !important;
  transform: unset !important;

  &.projects_page_pagination {
    margin-top: 0 !important;
    position: absolute !important;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%) !important;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 50px;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet,
.swiper-pagination-clickable .swiper-pagination-bullets-dynamic {
  position: relative;
  margin: 0 2px;
  border-radius: 50% !important;
  background-color: transparent;
  opacity: 1;
  height: 19px !important;
  width: 19px !important;
  min-height: 19px !important;
  min-width: 19px !important;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.5s;


  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    background-color: #fff;
  }
}

// ###################################################################

.arrow-sec {
  display: flex;
  align-items: center;
  margin-top: 15px;

  .swiper-button-prev,
  .swiper-button-next {
    transform: unset;
    margin: 0;
    position: static;
    margin-inline-start: 16px;
    flex-shrink: 0;
  }

  &.center {
    justify-content: center;
  }
}
