// Header Animation
@keyframes active-menu {
  0% {
    // transform: translateY(-100%);
    top: -200px;
  }

  100% {
    // transform: translateY(0);
    top: 0;
  }
}

@keyframes not-active-menu {
  0% {
    // transform: translateY(0);
    top: 0;
  }

  100% {
    // transform: translateY(-100%);
    top: -200px;
  }
}
/////////////////////////////////////
@keyframes rotating {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}