.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.with_margin_top {
    margin-top: 2rem;
  }
  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.second_color_link__ {
    height: 46px;
    border-radius: $mainBorderRadius;
    padding: 0 30px;
    background-color: $secondaryColor;
    color: #fff;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }

  &.main_link {
    width: fit-content;
    padding: 20px 30px;
    background-color: #fff;
    gap: 13px;
    position: relative;

    
    @include sm {
      height: 40px;
    }

    .link_text__ {
      padding-inline-start: 13px;
      font-size: 1.6rem;
      font-weight: 700;
      color: $headingMainColor !important;
      position: relative;

      &.with_after_shape__ {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          inset-inline-start: 0;
          width: 2%;
          height: 80%;
          background-color: rgba($primaryColor, 0.1);
        }
      }
    }

    .arrow_icon {
      transform: rotate(-90deg);

      @include dir {
        transform: rotate(90deg);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 10px;
      height: 100%;
      inset-inline-start: 0;
      border-radius: 0 30px 30px 0;
      transition: 0.5s;
      
      @include dir {
        border-radius:  30px 0 0 30px;

      }
    }

    &:hover {
      box-shadow: 0 0 40px rgba(#fff, 0.3);
      .icon__ {
        filter: brightness(0) invert(1);
      }

      .link_text__ {
        color: #fff !important;
      }

      .link_text__,
      .icon__ {
        z-index: 10;
      }

      .link_text__ {
        &:after {
          background-color: rgba(#fff, 0.3);
        }
      }

      &::after {
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 0 0 0 0 !important;
      }
    }
  }

  &.our_projects_link__ {
    color: $headingMainColor;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: rgba($primaryColor, 0.07);
    padding: 15px 22px;
    height: 52px;

    @include sm {
      height: 40px;
    }

    .icon__ {
      transition: 0.5s;

      @include dir {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: $primaryColor;
      color: #fff;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.footer_link__ {
    color: #fff;
    opacity: 0.6;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: flex-start;
    font-family: sans-serif;
    
    span,
    .text {
      direction: ltr;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &.project_card_link {
    height: fit-content ;
    background-color: #fff;
    color: $headingMainColor !important;
    padding: 8px 20px ;
    width: 100%;
    font-weight: 600;
    
    &:hover {
      color: #fff !important;
      background-color: $primaryColor;
    }
    
  }
}
