.cards_wrapper__ {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  display: flex;
  flex-wrap: wrap;
  gap: 15px;


  div {
    @include sm {
      min-width: calc(50% - 10px) ;
    }

    @include sm {
      min-width: 100% ;
    }
  }
}