.field_of_work_images_wrapper__ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  position: relative;
  padding: 50px 47px 35px 27px;

  @include sm {
    grid-template-columns: 1fr;
    padding: 20px 15px;
  }

  .figure__ {
    @include p-bottom(262 , 260);

    @include sm {
      @include p-bottom(205 , 536);
    }

    &:nth-of-type(1) {
      grid-column: span 2;
      @include p-bottom(205 , 536);

      @include sm {
        grid-column:  unset;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    background-color: $primaryColor;
    width: 276px;
    height: 154px;
    z-index: -1;

    @include sm {
      width: 199px;
      height: 154px;
    }

    @include xxs {
      top: 10%;
      width: 30%;
      height: 30%;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    background-color: $primaryColor;
    width: 199px;
    height: 154px;
    z-index: -1;

    @include sm {
      width: 199px;
      height: 154px;
    }

    @include xxs {
      bottom: 5%;
      width: 30%;
      height: 30%;   
     }
  }
}